body{
    margin: 20px;
}

.tabla{
    padding: 20px;
    border: 2px solid;
    padding: 20px;
}

.real{
        box-shadow: 4px 10px 10px gray;
        padding: 20px;
        background-color: rgb(239, 245, 254);

        display: grid;
        grid-template-columns: 1fr repeat(4, 2fr);
        grid-template-rows: 4fr 1fr;
        
}

.real div{
    padding: 2px;
    border-radius: 5px;
    border: 2px solid;
    gap: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.subColumnas{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}