<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{estilos/admin.css}">
</head>
<body>
    <header>
        <h1>PANEL DEL ADMINISTRADOR DEL SISTEMA</h1>
        <div>
            <h2>Bienvenido <span th:text="${usuario.username}">Nombre de usuario</span></h2>
            <form th:action="@{/logout}" method="post">
                <button type="submit">Cerrar sesion</button>
            </form>
            <form th:action="@{/cambiarContra}" method="post">
                <button type="submit">Cambiar contraseña</button>
            </form>
        </div>
    </header>
    <article th:if="${mensaje}">
        <div class="mensaje" th:text="${mensaje}">hi world</div>
    </article>
     <div class="agregarUsuario">
        <form th:action="@{/agregarUsuario}" method="POST">
            <h2>Agrega un nuevo usuario</h2>
            <label for="nombre">Nombre de Usuario</label>
            <input type="text" name="nombre" id="nombre">
            <br>
            <label>Rol:</label>
            <div>
                <input type="radio" id="personal" name="rol" required>
                <label for="personal">Personal</label>
                <input type="radio" id="admin" name="rol">
                <label for="admin">Admin</label>
            </div>
            <button type="submit">Agregar</button>
        </form>
    </div>
</body>
</html>