<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar usuario</title>
    <link rel="stylesheet" href="/css/agregar.css">
</head>
<body>
     <header>
        <section>
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/Logo_TecNM_Horizontal_Blanco.svg" alt="logoTec">
            <p>Principal</p>
        </section>
        <section>
            <span>COORDINACIÓN INSTITUCIONAL DE TUTORIAS</span>
            <form th:action="@{/salir}" method="post">
                <button type="submit" class="btnSalir">Salir</button>
            </form>
        </section>
    </header>
    <main>
        p
        <section class="form">
            <div id="mensajeExito" th:if="${mensajeExito}">
                <p th:text="${mensajeExito}">hola</p>
            </div>
            <h2>Agrega un nuevo usuario</h2>
            <form th:action="@{/guardarUsuario}" method="POST">
                <div>
                <label for="apePat">Apellido Paterno:</label>

                <input required type="text" id="apePat" name="apePat">
            </div>
            <div>
                <label for="apeMat">Apellido Materno:</label>
                <input type="text" id="apeMat" name="apeMat">
            </div>
            <div>
                <label for="nombre">Nombre:</label>
                <input required type="text" id="nombre" name="nombre">
            </div>
            <div>
                <label for="rol">Rol:</label>
                <select id="rol" name="rol">
                        <option value="0">Director</option>
                    <option value="1">Subdirector</option>
                    <option value="3">Coordinador Institucional de tutorias</option>
                   <!-- <option value="5">Coordinador Departamental de tutorias</option>-->
                    <option value="2">Jefe de departamento de desarrollo academico</option>
                    <option value="4">Jefe de departamento academico</option>

                    <option value="10">Coordinador Departamental: Ciencias Económico-Administrativas</option>
                    <option value="11">Coordinador Departamental: Eléctrica-Electrónica</option>
                    <option value="12">Coordinador Departamental: Industrial</option>
                    <option value="13">Coordinador Departamental: Ingeniería Química-Bioquímica</option>
                    <option value="14">Coordinador Departamental: Metal-Mecánica</option>
                    <option value="15">Coordinador Departamental: Sistemas y Computación</option>


                </select>
            </div>
            <button type="submit">Guardar Usuario</button>
            </form>
            <form th:action="@{/regresar}" method="post">
                <button type="submit">Regresar</button>
            </form>
        </section>
    </main>
</body>
</html>