<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar actividad</title>
    <link rel="stylesheet" href="/css/agregar.css">
</head>
<body>
     <header>
        <section>
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/Logo_TecNM_Horizontal_Blanco.svg" alt="logoTec">
            <p>Principal</p>
        </section>
        <section>
            <span>COORDINACIÓN INSTITUCIONAL DE TUTORIAS</span>
            <p>Salir</p>
        </section>
    </header>
    <main>
        p
        <section class="form">
            <h2>Agrega una nueva actividad</h2>
            <div>
                <label for="nombre">Nombre de la Actividad:</label>
                <input type="text" id="nombre">
            </div>
            <div>
                <label for="nombre">Nombre de la evidencia:</label>
                <input type="text" id="nombre">
            </div>
            <div>
                <label for="desAct">Descripcion:</label>
                <input type="text" id="desAct">
            </div>
            <div>
                <label for="fechaFin">Fecha Limite</label>
                <input type="date" id="fechaFin">
            </div>
            <button type="submit">Guardar Actividad</button>
        </section>
        <section class="listaAct">
            <h2>Actividades actuales</h2>
            <table>
                <tr>
                    <th>id</th>
                    <th>Actividad</th>
                    <th>Evidencia</th>
                    <th>Descripción</th>
                    <th>Fecha limite</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Presentación del programa e identificación de problemáticas puntuales</td>
                    <td>Firmar carta compromiso</td>
                    <td><a href="###">Ver más</a></td>
                    <td>23/04/2026.</td>
                </tr>
                 <tr>
                    <td>2</td>
                    <td>Difusión de servicios de apoyo y contestar la encuesta de autogestión académica.</td>
                    <td>Encuesta de autogestión académica</td>
                    <td><a href="###">Ver más</a></td>
                    <td>23/04/2026.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Explicación de lineamientos dee acreditación</td>
                    <td>Casos resueltos sobre los lineamientos de acreditación</td>
                    <td><a href="###">Ver más</a></td>
                    <td>23/04/2026.</td>
                </tr>
            </table>
        </section>
    </main>
</body>
</html>