<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar tutor</title>
    <link rel="stylesheet" href="/css/agregar.css">
</head>
<body>
     <header>
        <section>
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/Logo_TecNM_Horizontal_Blanco.svg" alt="logoTec">
            <p>Principal</p>
        </section>
        <section>        
            <span>COORDINACIÓN DE TUTORIAS DEPTO: SISTEMAS Y COMPUTACION</span>
            <form th:action="@{/salir}" method="post">
                <button type="submit" class="btnSalir">Salir</button>
            </form>
        </section>
    </header>
    <main>
        p
        <section class="form" id="first">
            <div id="mensajeExito" th:if="${mensajeExito}">
                <p th:text="${mensajeExito}">hola</p>
            </div>
            <form th:action="@{/guardarTutor}" method="post">
                <h2>Agrega un nuevo tutor</h2>
            <div>
                <label for="clave">Clave de empleado:</label>
                <input type="text" id="clave" name="clave">
            </div>
                <div>
                    <label for="apePat">Apellido paterno:</label>
                    <input type="text" id="apePat" name="apePat">
                </div>
                <div>
                    <label for="apeMat">Apellido materno:</label>
                    <input type="text" id="apeMat" name="apeMat">
                </div>
                <div>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre">
                </div>
           <!-- <div>
                <label for="correo">Correo:</label>
                <input type="email" id="correo">
            </div>-->
            <div>
                <label for="rol">Carrera:</label>
                <select id="rol" name="carrera">
                    <option value="1">ING. AMBIENTAL</option>
                    <option value="2">ING. BIOQUIMICA</option>
                    <option value="3">ING. ELECTRICA</option>
                    <option value="4">ING. ELECTRONICA</option>
                    <option value="5">ING. EN ENERGIAS RENOVABLES</option>
                    <option value="6">ING. EN GESTION EMPRESARIAL</option>
                    <option value="7">ING. INDUSTRIAL</option>
                    <option value="8">ING. EN INNOVACION AGRICOLA SUSTENTABLE</option>
                    <option value="9">ING. MECANICA</option>
                    <option value="10">ING. MECATRONICA</option>
                    <option value="11">ING. EN TECNOLOGIAS DE LA INFORMACION Y COMUNICACIONES</option>
                    <option value="12">ING. EN SISTEMAS COMPUTACIONALES</option>
                </select>
            </div>       
           <!--- <div class="val">
                <label for="valida">¿Cumple con los requisitos?</label>
                <input type="checkbox" id="valida">
            </div> -->  
            <button type="submit">Guardar Tutor</button>
            </form>
            <form th:action="@{/regresar}" method="post">
                <button type="submit">Regresar</button>
            </form>
        </section>
    </main>
</body>
</html>