<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar tutorados</title>
    <link rel="stylesheet" href="/css/agregarTutorados.css">
</head>
<body>
     <header>
        <section>
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/Logo_TecNM_Horizontal_Blanco.svg" alt="logoTec">
            <p>Princpal</p>
        </section>
        <section>
            <div>
                <span>Departamento: </span>
                <span th:text="${departamento.nombre}">Departamento</span>
            </div>
            <form th:action="@{/salir}" method="post">
                <button type="submit" class="btnSalir">Salir</button>
            </form>
        </section>
    </header>
    <main>
        p
        <section class="buscar">
        <form th:action="@{/buscarTutor}" class="primera" method="post">
            <h3>Selecciona un tutor</h3>
                <select name="id" id="rol">
                    <option th:each="t : ${tutores}" th:value="${t.id}">
                        <span  th:text="${t.usuario.nombre}"></span>
                        <span  th:text="${t.usuario.apePat}"></span>
                        <span  th:text="${t.usuario.apeMat}"></span>
                    </option>
                </select>
                <button type="submit">Buscar</button>
        </form>   
        <div class="principal">
            <div class="formulario">
                <h3>Agregar tutorado</h3>
                <form action="###">
                    <div>
                        <label for="clave">No. de Control:</label>
                        <input type="text" id="clave" required>
                    </div>
                    <div>
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" required>
                    </div>
                    <div>
                        <label for="correo">Correo:</label>
                        <input type="email" id="correo" required>
                    </div>      
                    <button type="submit">Registrar Tutorado</button>
                </form>
                <form th:action="@{/regresar}" method="post">
                    <button type="submit">Regresar</button>
                </form>
            </div>
            <div class="tabla">
                <h3 th:if="${usuarioTutor}">
                    <span th:text="${usuarioTutor.nombre}">nombre</span>
                    <span th:text="${usuarioTutor.apePat}">apePat</span>
                    <span th:text="${usuarioTutor.apeMat}">apeMat</span>
                </h3>
                <hr>
                <h4>Total de alumnos: 25</h4>
                <table>
                    <tr>
                        <th>No</th>
                        <th>Número de control</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Opciones</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>23170284</td>
                        <td>OMAR ELENO PEREZ CERVANTES</td>
                        <td>L23170284@culiacan.tecnm.mx</td>
                        <td>
                            <button>Editar</button>
                            <button>Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>23170284</td>
                        <td>OMAR ELENO PEREZ CERVANTES</td>
                        <td>L23170284@culiacan.tecnm.mx</td>
                        <td>
                            <button>Editar</button>
                            <button>Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>23170284</td>
                        <td>OMAR ELENO PEREZ CERVANTES</td>
                        <td>L23170284@culiacan.tecnm.mx</td>
                        <td>
                            <button>Editar</button>
                            <button>Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>23170284</td>
                        <td>OMAR ELENO PEREZ CERVANTES</td>
                        <td>L23170284@culiacan.tecnm.mx</td>
                        <td>
                            <button>Editar</button>
                            <button>Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>23170284</td>
                        <td>OMAR ELENO PEREZ CERVANTES</td>
                        <td>L23170284@culiacan.tecnm.mx</td>
                        <td>
                            <button>Editar</button>
                            <button>Eliminar</button>
                        </td>
                    </tr>
                   
                </table>
            </div>
        </div>       
        </section>
    </main>
</body>
</html>