<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cambiar contraseña</title>
    <link rel="stylesheet" th:href="@{estilos/cambiarContrasena.css}">
</head>
<body>
<div class="general">
    <h1>Cambiar Contraseña</h1>
    <form th:action="@{/validaContrasena}" method="post">
        <label id="Usuario">Usuario: <span th:text="${usuario.username}">Nombre de usuario</span></label>
        <div class="contenedor">
                <label for="oldPassword">Contraseña Actual:</label>
                <input type="password" id="oldPassword" name="oldPassword" required>
                <label for="newPassword">Nueva contraseña:</label>
                <input type="password" id="newPassword" name="newPassword" required>
                <label for="newPassword2">Confirmar nueva contraseña:</label>
                <input type="password" id="newPassword2" name="newPassword2" required>
                <button type="submit">Enviar</button>
        </div>
    </form>
    <form th:action="@{/regresar}" method="post">
        <button type="submit">Regresar</button>
    </form>
</div>
</body>
</html>