<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta tutorados</title>
    <link rel="stylesheet" href="/css/consultaTutorados.css">
</head>
<body>
    <div class="todo">
     <header>
        <section>
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/Logo_TecNM_Horizontal_Blanco.svg" alt="logoTec">
            <p>Tareas</p>
        </section>
        <section>
            <span>INGENIERIA EN SISTEMAS COMPUTACIONALES</span>
            <p>Salir</p>
        </section>
    </header>
    <div class="cuerpo">
     <section class="general">
        <article class="encabezado">
            <div class="encGrupo">
                <h4>Nombre del tutor o tutora:  </h4>
                <h5>MIRNA DEL ROSARIO QUEVEDO CAMACHO</h5>
            </div>
            <div class="encGrupo">
                <h4>Carrera:  </h4>
                <h5>ING. EN SIST. COMPUTACIONALES</h5>
            </div>
            <div class="encGrupo">
                <div class="subG">
                    <label for="sem1">1°</label>
                    <input type="radio" id="sem1" name="semestre" checked disabled>
                </div>
                <div class="subG">
                    <label for="sem2">2°</label>
                    <input type="radio" id="sem2" name="semestre">
                </div>
                <h4>Semestre</h4>
            </div>
            
        </article>
        <article class="tabla">
            <article>No</article>
            <article>No. control</article>
            <article>Nombre de tutorados y tutoradas</article>
            <article class="asistencias">
                <div class="asis1">
                    <p>Asistencia</p>
                    <p>Ver actividades abajo</p>
                </div>
                <div class="asisNumero">
                    <div>1</div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                    <div>5</div>
                    <div>6</div>
                    <div>7</div>
                </div>
            </article>
            <article class="asistencias">
                <div class="asis1">
                    <p>Tarea (en caso que aplique)</p>
                    <p>Ver descripcion abajo</p>
                </div>
                <div class="tarNumero">
                    <div>a</div>
                    <div>b</div>
                    <div>c</div>
                    <div>d</div>
                    <div>e</div>
                    <div>f</div>
                </div>
            </article>
        </article>
        <!--FIN DEL ENCABEZADO-->
        <!--ALUMNO 1-->
        <article class="tabla">
            <article>1</article>
            <article>2317058</article>
            <article class="nombre">ACOSTA QUEVEDO EDER JOHAN</article>
            <article class="asistencias">
                <div class="asisNumero2">
                    <div><input type="checkbox" checked disabled></div>
                    <div><input type="checkbox" checked disabled></div>
                    <div><input type="checkbox" checked disabled></div>
                    <div><input type="checkbox" checked disabled></div>
                    <div><input type="checkbox" checked disabled></div>
                    <div><input type="checkbox" disabled></div>
                    <div><input type="checkbox" disabled ></div>
                </div>
            </article>
            <article class="asistencias">
                <div class="tarNumero2">
                  <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>               
                </div>
            </article>
        </article>
        <!--ALUMNO 1-->
        <article class="tabla">
            <article>2</article>
            <article>2317073</article>
            <article class="nombre">ANGUIANO CRUZ MIGUEL ANGEL</article>
            <article class="asistencias">
                <div class="asisNumero2">
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                </div>
            </article>
            <article class="asistencias">
                <div class="tarNumero2">
                  <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>               
                </div>
            </article>
        </article>
        <!--ALUMNO 1-->
        <article class="tabla">
            <article>3</article>
            <article>23170082</article>
            <article class="nombre">ARMENTA SARMIENTO DIEGO</article>
            <article class="asistencias">
                <div class="asisNumero2">
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                </div>
            </article>
            <article class="asistencias">
                <div class="tarNumero2">
                  <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>               
                </div>
            </article>
        </article>
        <!--ALUMNO 1-->
        <article class="tabla">
            <article>4</article>
            <article>23170091</article>
            <article class="nombre">BAZALDUA MACHADO MIRIAM ALEJANDRA</article>
            <article class="asistencias">
                <div class="asisNumero2">
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                </div>
            </article>
            <article class="asistencias">
                <div class="tarNumero2">
                  <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>               
                </div>
            </article>
        </article>
        <!--ALUMNO 1-->
        <article class="tabla">
            <article>5</article>
            <article>23170100</article>
            <article class="nombre">BOJORQUEZ GARCAI YORSHUA YANNAY</article>
            <article class="asistencias">
                <div class="asisNumero2">
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                </div>
            </article>
            <article class="asistencias">
                <div class="tarNumero2">
                  <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>               
                </div>
            </article>
        </article>
        <!--ALUMNO 1-->
        <article class="tabla">
            <article>6</article>
            <article>23170109</article>
            <article class="nombre">CARDENAS LIZARRAGA JOSE ANGEL</article>
            <article class="asistencias">
                <div class="asisNumero2">
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                </div>
            </article>
            <article class="asistencias">
                <div class="tarNumero2">
                  <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>               
                </div>
            </article>
        </article>
        <!--ALUMNO 1-->
        <article class="tabla">
            <article>7</article>
            <article>23170118</article>
            <article class="nombre">CASTRO ARAUJO MAXIMILIANO</article>
            <article class="asistencias">
                <div class="asisNumero2">
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                </div>
            </article>
            <article class="asistencias">
                <div class="tarNumero2">
                  <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>               
                </div>
            </article>
        </article>
        <!--ALUMNO 1-->
        <article class="tabla">
            <article>8</article>
            <article>23170137</article>
            <article class="nombre">CORVERA MACHADO GADIEL UBALDO</article>
            <article class="asistencias">
                <div class="asisNumero2">
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                </div>
            </article>
            <article class="asistencias">
                <div class="tarNumero2">
                  <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>               
                </div>
            </article>
        </article>
        <!--ALUMNO 1-->
        <article class="tabla">
            <article>9</article>
            <article>23170136</article>
            <article class="nombre">DIAZ GASTELUM JESUS EDUARDO</article>
            <article class="asistencias">
                <div class="asisNumero2">
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                </div>
            </article>
            <article class="asistencias">
                <div class="tarNumero2">
                  <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>               
                </div>
            </article>
        </article>
        <!--ALUMNO 1-->
        <article class="tabla">
            <article>10</article>
            <article>23170145</article>
            <article class="nombre">FELIX CRUZ ELIU JAZIEL</article>
            <article class="asistencias">
                <div class="asisNumero2">
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                </div>
            </article>
            <article class="asistencias">
                <div class="tarNumero2">
                  <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>
                    <div><input type="checkbox"></div>               
                </div>
            </article>
        </article>
    </section>
    </div>
    </div>
</body>
</html>