<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar tutores</title>
    <link rel="stylesheet" href="/css/consultarTutores.css">
</head>
<body>
     <header>
        <section>
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/Logo_TecNM_Horizontal_Blanco.svg" alt="logoTec">
            <p>Tareas</p>
        </section>
        <section>
            <span>INGENIERIA EN SISTEMAS COMPUTACIONALES</span>
            <p>Salir</p>
        </section>
    </header>
    <main>
        <section class="listaTutores">
            <h2>Tutores: Departamento de Sistemas y Computacion</h2>
           <h3>Selecciona un tutor:</h3>
            <table>
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Grupo</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>EDNA ROCIO BARAJAS OLIVAS</td>
                    <td><a href="/consultaTutorados.html">Ver lista</a></td>
                </tr>
                 <tr>
                    <td>2</td>
                    <td>MARIA ELENA CARDENAS MOSQUEDA</td>
                    <td><a href="/consultaTutorados.html">Ver lista</a></td>
                </tr>
                 <tr>
                    <td>3</td>
                    <td>MIRNA DEL ROSARIO QUEVEDO CAMACHO</td>
                    <td><a href="/consultaTutorados.html">Ver lista</a></td>

                </tr>
                 <tr>
                    <td>4</td>
                    <td>MARIA LUCIA BARRON ESTRADA</td>
                    <td><a href="/consultaTutorados.html">Ver lista</a></td>
                </tr>
                 <tr>
                    <td>5</td>
                    <td>YERATZI YAMILETH ESPINOZA LOPEZ</td>
                    <td><a href="/consultaTutorados.html">Ver lista</a></td>
                </tr>
            </table>
        </section>
    </main>     
</body>
</html>