<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinación Departamento</title>
    <link rel="stylesheet" href="/css/coorDepTutorias.css">
</head>
<body>
     <header>
        <section>
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/Logo_TecNM_Horizontal_Blanco.svg" alt="logoTec">
            <p>Principal</p>
        </section>
        <section>
            <div>
                <span>Departamento: </span>
                <span th:text="${departamento.nombre}">Departamento</span>
            </div>
            <form th:action="@{/salir}" method="post">
                <button type="submit" class="btnSalir">Salir</button>
            </form>
        </section>
    </header>
    <main>
        <section class="identificacion">
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/defaultImage.png" alt="foto perfil">
            <article>
                <p id="titulo" th:text="${superior.puesto.nombre}">Rol</p>
                <p>
                    <span th:text="${usuario.nombre}">nombre</span>
                    <span th:text="${usuario.apePat}">apePat</span>
                    <span th:text="${usuario.apeMat}">apeMat</span>
                </p>
                <!--
                <p id="titulo">Contacto</p>
                <p>19170284 - L19170284@CULIACAN.TECNM.MX</p>
                -->
            </article>
        </section>
        <section class="cuerpo">
            <form th:action="@{/altaTutor}">
                <button type="submit">Alta Tutor</button>
            </form>
            <form action="/agregarTutorados.html">
                <button type="submit">Asignar Tutorados</button>
            </form>
            <form action="/coordDepAddTu.html">
                <button type="submit">Consultar tutorados</button>
            </form>
            <form action="/datosEstadisticos.html">
                <button type="submit">Consultar datos estadisticos</button>
            </form>
        </section>
    </main>
</body>
</html>