<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinación Institucional</title>
    <link rel="stylesheet" href="/css/coorInstTuto.css">
</head>
<body>
     <header>
        <section>
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/Logo_TecNM_Horizontal_Blanco.svg" alt="logoTec">
            <p>Principal</p>
        </section>
        <section>
            <span>COORDINACIÓN INSTITUCIONAL DE TUTORIAS</span>
            <p>Salir</p>
        </section>
    </header>
    <main>
        <section class="identificacion">
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/defaultImage.png" alt="foto perfil">
            <article>
                <p id="titulo">Coordinador Institucional de Tutorias</p>
                <p>
                  <span th:text="${usuario.nombre}">Nombre del usuario</span>
                    <span th:text="${usuario.apePat}">apellido paterno</span>
                    <span th:text="${usuario.apeMat}">apellido materno</span>
                </p>
               <!-- <p id="titulo">Contacto</p>
                <p>19170284 - L19170284@CULIACAN.TECNM.MX</p>-->
            </article>
        </section>
        <section class="cuerpo">
            <form th:action="@{/agregarUsuario}" method="POST">
                <button type="submit">Agregar usuario</button>
            </form>
            <form action="/agregarActividad.html">
                <button type="submit">Agregar actividad</button>
            </form>
            <form action="/consultarTutores.html">
                <button type="submit">Consultar tutorados</button>
            </form>
            <form action="/datosEstadisticos.html">
                <button type="submit">Consultar datos estadisticos</button>
            </form>
        </section>
    </main>
</body>
</html>