<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorado</title>
    <link rel="stylesheet" href="/css/curso.css">
</head>
<body>
    <header>
        <section>
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/Logo_TecNM_Horizontal_Blanco.svg" alt="logoTec">
            <p>Tareas</p>
        </section>
        <section>
            <span>INGENIERIA EN SISTEMAS COMPUTACIONALES</span>
            <p>Salir</p>
        </section>
    </header>
    <main>
        <section class="general">
                <!--<article>
                    <img src="https://m.itculiacan.edu.mx/pluginfile.php/1/theme_boost_union/courseheaderimagefallback/0/frontpage_aguila.jpg" alt="aguila">
                </article>-->
                <div class="foto">
                    <h1>TUTORIAS</h1>
                </div>
                <article class="tareas">
                    <div class="cont">
                        <div class="encabezado">
                             <img src="https://m.itculiacan.edu.mx/theme/image.php/boost_union/assign/1773841745/monologo?filtericon=1" alt="logoTarea">
                            <a href="/enviarTarea.html">Tarea 1.- Hacer nose que</a>
                        </div>
                        
                        <div class="info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem exercitationem facilis dolore fugit, aliquid recusandae magni nemo beatae natus eius earum eligendi odit? Excepturi, reprehenderit. Possimus neque maiores sit est.</p>
                        </div>
                    </div>
                    <div class="cont">
                        <div class="encabezado">
                             <img src="https://m.itculiacan.edu.mx/theme/image.php/boost_union/assign/1773841745/monologo?filtericon=1" alt="logoTarea">
                            <a href="/enviarTarea.html">Tarea 2.- Hacer nose que</a>
                        </div>
                        
                        <div class="info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem exercitationem facilis dolore fugit, aliquid recusandae magni nemo beatae natus eius earum eligendi odit? Excepturi, reprehenderit. Possimus neque maiores sit est.</p>
                        </div>
                    </div>
                    <div class="cont">
                        <div class="encabezado">
                             <img src="https://m.itculiacan.edu.mx/theme/image.php/boost_union/assign/1773841745/monologo?filtericon=1" alt="logoTarea">
                            <a href="/enviarTarea.html">Tarea 3.- Hacer nose que</a>
                        </div>
                        
                        <div class="info">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem exercitationem facilis dolore fugit, aliquid recusandae magni nemo beatae natus eius earum eligendi odit? Excepturi, reprehenderit. Possimus neque maiores sit est.</p>
                        </div>
                    </div>
                </article>
        </section>
    </main>
</body>
</html>