<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadisticas</title>
    <link rel="stylesheet" href="/css/estadisticas.css">
</head>
<body>
    <header>
        <section>
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/Logo_TecNM_Horizontal_Blanco.svg" alt="logoTec">
            <p>Principal</p>
        </section>
        <section>
            <span>COORDINACIÓN INSTITUCIONAL DE TUTORIAS</span>
            <p>Salir</p>
        </section>
    </header>
    <main>  
        <section class="resultados">
            <h2>Resultados del programa</h2>
            <article>
                <div>
                <img src="https://culiacan.ambar.tecnm.mx/estudiantes/Logo_TecNM_Horizontal_Blanco.svg" alt="logoTec">
                sdfs
                </div>
                <div>sdfs</div>
                <div>sdfs</div>
                <div>sdfs</div>
                <div>sdfs</div>
                <div>sdfs</div>
                <div>sdfs</div>
            </article>
        </section>
    </main>
</body>
</html>