<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinación Institucional</title>
    <link rel="stylesheet" href="/css/coorInstTuto.css">
</head>
<body>
     <header>
        <section>
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/Logo_TecNM_Horizontal_Blanco.svg" alt="logoTec">
            <p>Principal</p>
        </section>
        <section>
            <span>DIRECTOR DEL INSTITUTO TECNOLOGICO DE CULIACÁN</span>
            <form th:action="@{/salir}" method="post">
                <button type="submit" class="btnSalir">Salir</button>
            </form>
        </section>
    </header>
    <main>
        <section class="identificacion">
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/defaultImage.png" alt="foto perfil">
            <article>
                <p id="titulo">
                   <span th:text="${superior.puesto.nombre}">Puesto</span>
                </p>
                <p>
                    <span th:text="${usuario.nombre}">Nombre del usuario</span>
                    <span th:text="${usuario.apePat}">apellido paterno</span>
                    <span th:text="${usuario.apeMat}">apellido materno</span>
                </p>
                <p id="titulo">Plantel:</p>
                <p th:text="${superior.institutoTecnologico.campus}">plantel</p>
                <!--<p id="titulo">Contacto</p>
                <p>19170284 - DIRECCIONGENERAL@CULIACAN.TECNM.MX</p>-->
            </article>
        </section>
        <section class="cuerpo">
            <form action="/consultarTutores.html">
                <button type="submit" id="op">Consultar tutorados</button>
            </form>
            <form action="/datosEstadisticos.html">
                <button type="submit" id="op">Consultar datos estadisticos</button>
            </form>
        </section>
    </main>
</body>
</html>