<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinación Institucional</title>
    <link rel="stylesheet" href="/css/coorInstTuto.css">
</head>
<body>
     <header>
        <section>
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/Logo_TecNM_Horizontal_Blanco.svg" alt="logoTec">
            <p>Principal</p>
        </section>
        <section>
            <span>DIRECTOR DEL INSTITUTO TECNOLOGICO DE CULIACÁN</span>
            <p>Salir</p>
        </section>
    </header>
    <main>
        <section class="identificacion">
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/defaultImage.png" alt="foto perfil">
            <article>
                <p id="titulo">Director del plantel</p>
                <p>Francisca Piña Zazueta</p>
                <p id="titulo">Plantel:</p>
                <p>INSTITUTO TECNOLOGICO DE CULIACÁN</p>
                <p id="titulo">Contacto</p>
                <p>19170284 - DIRECCIONGENERAL@CULIACAN.TECNM.MX</p>
            </article>
        </section>
        <section class="cuerpo">
            <form action="/consultarTutores.html">
                <button type="submit">Consultar tutorados</button>
            </form>
            <form action="/datosEstadisticos.html">
                <button type="submit">Consultar datos estadisticos</button>
            </form>
        </section>
    </main>
</body>
</html>