<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar</title>
    <link rel="stylesheet" href="/css/enviarT.css">
</head>
<body>
    <header>
        <section>
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/Logo_TecNM_Horizontal_Blanco.svg" alt="logoTec">
            <p>Tareas</p>
        </section>
        <section>
            <span>INGENIERIA EN SISTEMAS COMPUTACIONALES</span>
            <p>Salir</p>
        </section>
    </header>
    <main>
        <div class="titulo">
            <img src="https://m.itculiacan.edu.mx/theme/image.php/boost_union/assign/1773841745/monologo?filtericon=1" alt="logoTarea">
            <h1>Tarea 2.- Modelos de proceso de desarrollo de software</h1>
        </div>
       <article class="info">
            <div>
                <span id="neg">Abrió:</span>
                <span>viernes, 6 de febrero de 2026, 00:00</span>
            </div>
             <div>
                <span id="neg">Entrega:</span>
                <span>sábado, 28 de febrero de 2026, 00:00</span>
            </div>
            <hr>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ducimus amet repudiandae at maxime fugit perspiciatis tenetur facere cupiditate nisi, ad reiciendis! Nemo corporis atque suscipit sequi, quod quis soluta.</div>
        </article>
        <article id="boton">
            <input type="file" id="archivo">
            <button type="submit">Enviar tarea</button>
        </article>
        <article  class="estado">
             <h2>Estado de la entrega</h2>
            <table>
                <tr>
                    <td id="neg">Estado de la entrea</td>
                    <td>Aun no se ha hecho ninguna tarea</td>
                </tr>
                <tr>
                    <td id="neg">Estado de la calificación</td>
                    <td>No calificado</td>
                </tr>
                <tr>
                    <td id="neg">Tiempo restante</td>
                    <td>La Tarea está vencida por: 21 días 21 horas</td>
                </tr>
                <tr>
                    <td id="neg">Última modificación</td>
                    <td>-</td>
                </tr>
                 <tr>
                    <td id="neg">Comentarios al envío</td>
                    <td>> Comentarios (0)</td>
                </tr>
            </table>
        </article>
    </main>
    <aside>
        <a href="####">< Tarea 1</a>
        <a href="####">Tarea 3 ></a>
    </aside>
</body>
</html>