<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <section>
        <div class="contenedor">
            <img src="https://culiacan.ambar.tecnm.mx/auth/Logo_TecNM_Horizontal.svg" alt="logo">
            <h2>SISTEMA DE TUTORIAS</h2>
            <h2>CULIACÁN</h2>
            <p>Bienvenido, ingresa tus credenciales para acceder a la plataforma</p>
            <form th:action="@{/login}" method="post">
                <div class="dato">
                    <label for="numeroControl">Número control</label>
                    <input type="text" id="numeroControl" placeholder="Número control" required name="username">
                </div>
                <div class="dato">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" id="contraseña" placeholder="Contraseña" required name="password">
                </div>
                <button type="submit">Iniciar sesión</button>
            </form>
            <div class="error" th:if="${param.error}">
                <p>Usuario y/o constrasña incorrecta</p>
            </div>
            <div class="salir" th:if="${param.logout}">
                <p>Haz cerrado sesión</p>
            </div>
        </div>
    </section>
</body>
</html>