<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personal</title>
    <link rel="stylesheet" th:href="@{estilos/personal.css}">
</head>
<body>
<header>
    <h1>Panel del principal</h1>
    <div>
        <h2>Bienvenido <span th:text="${usuario.username}">Nombre de usuario</span></h2>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Cerrar sesion</button>
        </form>
        <form th:action="@{/cambiarContra}" method="post">
            <button type="submit">Cambiar contraseña</button>
        </form>
    </div>
</header>
<section>
    <article class="filtrar">
        <h2>Crea una reservacion</h2>
        <form th:action="@{/BuscarEspaciosDisponibles}" method="post">
            <div>
                <label for="fecha">Elije una fecha:</label>
                <input type="date" id="fecha" name="fecha" required>
                <label for="hora">Elije una hora:</label>
                <input type="time" id="hora" name="hora" required step="3600" min="09:00" max="17:00">
            </div>
            <button type="submit">Buscar</button>
        </form>
    </article>
    <article th:if="${mensajeExitoGuardar}">
        <div class="mensaje" th:text="${mensajeExitoGuardar}"></div>
    </article>
    <article th:if="${errorCambiarContra}">
        <div class="mensaje" th:text="${errorCambiarContra}"></div>
    </article>
    <!-- <article class="reservaciones" th:if="${espaciosDisponibles.empty}">
         <p>No existen espacios disponibles para esa fecha y hora</p>
     </article>-->
    <article class="reservaciones" th:if="${espaciosDisponibles}">
        <h2>Espacios disponibles:</h2>
        <table style="border: 2px solid">
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>capacidad</th>
                <th>Accion</th>
            </tr>
            <tr th:each="e : ${espaciosDisponibles}">
                <td th:text="${e.id}">Id</td>
                <td th:text="${e.nombre}">nombre</td>
                <td th:text="${e.capacidad}">Capacidad</td>
                <td>
                    <form th:action="@{/reservar}" method="post">
                        <input type="hidden" name="espacio" th:value="${e.id}">
                        <input type="hidden" name="dia" th:value="${fechaBuscar}">
                        <input type="hidden" name="tiempo" th:value="${horaBuscar}">
                        <button type="submit">Reservar</button>
                    </form>
                </td>
            </tr>
        </table>
    </article>
    <article class="Mis reservaciones">
        <h2>Mis reservaciones:</h2>
        <table border="3">
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>capacidad</th>
                <th>Fecha</th>
                <th>Hora de inicio</th>
                <th>Hora de fin</th>
                <th>Accion</th>
            </tr>
            <tr th:each="r : ${misReservaciones}">
                <td th:text="${r.id}">1</td>
                <td th:text="${r.espacio.nombre}">Sala Norte</td>
                <td th:text="${r.espacio.capacidad}">10</td>
                <td th:text="${r.fecha}">Fecha</td>
                <td th:text="${r.horaInicio}">Hora de inicio</td>
                <td th:text="${r.horaFin}">Hora de fin</td>
                <td>
                    <form th:action="@{/cancelar}" method="post">
                        <input type="hidden" name="reservacion" th:value="${r.id}">
                        <button type="submit">Cancelar</button>
                    </form>
                </td>
            </tr>
        </table>
    </article>
</section>
</body>
</html>