<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutor</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
    <section class="tabla">
        <div>
            <p>Nombre del tutor o turoa: <span>MIRNA DEL ROSARIO QUEVEDO CAMACHO</span></p>
            <p>Carrera: <span>ING. EN SIST. COMPUTACIONALES</span></p>
            <p>
                <div>1<span>_</span></div>
                <div>2<span>_</span></div>
            </p>        
        </div>
        <div class="real">
            <div class="no">
                <div>No.</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
            </div>
            <div class="noControl">
                <div>No. control</div>
                <div>23170058</div>
                <div>23170058</div>
                <div>23170058</div>
                <div>23170058</div>
                <div>23170058</div>
                <div>23170058</div>
                <div>23170058</div>
            </div>
            <div class="nomTutorado">
                <div> Nombre de tutorados y tutoradas</div>
                 <div>ACOSTA QUEVEDO EDER JOHAN</div>
                <div>ACOSTA QUEVEDO EDER JOHAN</div>
                <div>ACOSTA QUEVEDO EDER JOHAN</div>
                <div>ACOSTA QUEVEDO EDER JOHAN</div>
                <div>ACOSTA QUEVEDO EDER JOHAN</div>
                <div>ACOSTA QUEVEDO EDER JOHAN</div>
                <div>ACOSTA QUEVEDO EDER JOHAN</div>
            </div>
            <div>
                <div>Asistencia <br>Ver actividades abajo</div>
                <div class="subColumnas">
                    <div>
                        <div class="subEncabezado">1</div>
                         <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                    </div>
                    <div>
                        <div class="subEncabezado">2</div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                    </div>
                    <div>
                        <div class="subEncabezado">3</div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                    </div>
                    <div>
                        <div class="subEncabezado">4</div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                    </div>
                    <div>
                        <div class="subEncabezado">5</div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                    </div>
                    <div>
                        <div class="subEncabezado">6</div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                    </div>
                    <div>
                        <div class="subEncabezado">7</div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                    </div>
                </div>
            </div>
            <div>
                <div>Tarea (en caso de que aplique)<br>Ver descripción abajo</div>
                <div class="subColumnas">
                    <div>
                        <div class="subEncabezado">a</div>
                         <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                    </div>
                    <div>
                        <div class="subEncabezado">b</div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                    </div>
                    <div>
                        <div class="subEncabezado">c</div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                    </div>
                    <div>
                        <div class="subEncabezado">d</div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                    </div>
                    <div>
                        <div class="subEncabezado">e</div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                    </div>
                    <div>
                        <div class="subEncabezado">f</div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                        <div>   </div>
                    </div>
                </div>       
            </div>
        </div>
    </section>
</body>
</html>