<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorado</title>
    <link rel="stylesheet" href="/css/tutorado.css">
</head>
<body>
    <header>
        <section>
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/Logo_TecNM_Horizontal_Blanco.svg" alt="logoTec">
            <p>Tareas</p>
        </section>
        <section>
            <span>INGENIERIA EN SISTEMAS COMPUTACIONALES</span>
            <p>Salir</p>
        </section>
    </header>
    <main>
        <section class="identificacion">
            <img src="https://culiacan.ambar.tecnm.mx/estudiantes/defaultImage.png" alt="foto perfil">
            <article>
                <p>OMAR ELENO PEREZ CERVANTES</p>
                <p>23170284 - L23170284@CULIACAN.TECNM.MX</p>
                <p id="titulo">Carrera</p>
                <p>ING. SIST. COMP.</p>
                <p id="titulo">Semestre</p>
                <p>6</p>
            </article>
        </section>
        <section class="tareas">
                <h4>TAREAS</h4>
                <div>
                    <img src="https://m.itculiacan.edu.mx/theme/image.php/boost_union/assign/1773841745/monologo?filtericon=1" alt="logoTarea">
                    <a href="/enviarTarea.html">Tarea 1.- Hacer nose que</a>
                </div>
                 <div>
                    <img src="https://m.itculiacan.edu.mx/theme/image.php/boost_union/assign/1773841745/monologo?filtericon=1" alt="logoTarea">
                    <a href="/enviarTarea.html">Tarea 1.- Hacer nose que</a>
                </div>
                 <div>
                    <img src="https://m.itculiacan.edu.mx/theme/image.php/boost_union/assign/1773841745/monologo?filtericon=1" alt="logoTarea">
                    <a href="/enviarTarea.html">Tarea 1.- Hacer nose que</a>
                </div>
        </section>
    </main>
</body>
</html>